<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>contacts_sqlite.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F27BFD7D1F7E601B00556E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27BFD961F7E601B00556E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F27BFDA11F7E601C00556E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
